<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gestor_v1">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.GastoActivity" android:label="Nuevo Gasto" />
        <activity android:name=".ui.VentaActivity" android:label="Nueva Venta" />
        <activity android:name=".ui.ProductoActivity" android:label="Nuevo Producto" />
        <activity android:name=".ui.ContactoActivity" android:label="Nuevo Contacto" />

        <!-- Pantallas de listado -->
        <activity android:name=".ui.ListadoGastosActivity" android:label="Historial de Gastos" />
        <activity android:name=".ui.ListadoVentasActivity" android:label="Historial de Ventas" />
        <activity android:name=".ui.ListadoProductosActivity" android:label="Lista de Productos" />
        <activity android:name=".ui.ListadoContactosActivity" android:label="Agenda de Contactos" />

    </application>

</manifest>
